<% include ../partials/header %>
<% include ../partials/leftpart %>
        
<div class="content-wrapper">
<section class="content-header">
     <h1>
      Page List
    </h1> 
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">List</li>
        </ol>
  </section>

  <section class="content">
    <% include ../partials/messagebox %>
    <div class="row">
      <div class="col-xs-12">
      <div class="box">
              <div class="box-header with-border d-flex">
                <h3 class="box-title">List</h3>
                <a class="btn btn-success" href="/pages/add/1" style="float: right;">Add</a>
              </div>
              <div class="box-body">
                <table class="table table-bordered">
                  <tbody><tr>
                    <th style="width: 10px">ID</th>
                    <th>TITLE</th>
                    <th>Descripation</th>
                    <th>ISCUSTOM</th>
                    <th>STATUS</th>
                    <th>UPDATE TIME</th>
                    <th></th>
                  </tr>

                  <% 
                  if(typeof pageDataValue != 'undefined')
                  { 
                      pageDataValue.forEach(function(item) 
                      {
                      %>
                      <tr>
                              <td><%=item.id%></td>
                              <td><%=item.question_title%></td>
                              <td><%=item.question_descripation%></td>
                              <td><%=item.iscustom%></td>
                              <td>
                                  <%
                                  if(item.status==1)
                                  {
                               %>
                                  <span class="badge bg-green">Active</span>
                               <%
                                  }
                                  else
                                  {
                               %>
                                  <span class="badge bg-red">Inactive</span>
                               <%
                                  }
                               %>
                              </td>

                           <td><%= custom_helper.h_convertDateTimeInTimeStamp(item.update_time)%></td>
                            <td><a class="btn btn-success" href="/pages/edit/<%=item.id%>">Edit</a></td>
                            <td><a class="btn btn-danger" href="/pages/delete/<%=item.id%>">Delete</a></td>
                            <td><a class="btn btn-primary" href="/pages/View/<%=item.id%>/1">View Option</a></td>
                      </tr>
                      <%
                      });
                  } 
                  %>
                  
                </tbody></table>
              </div>
             
             
              <div class="box-footer clearfix">
                  <% include ../partials/paginate %> 
              </div>
            </div>


</div>
</div>
</section>
</div>
<% include ../partials/footer %> 
